@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

/* Css Variables */
@import url('/css/partials/_variables.css');

body {
    font-family: var(--marri);
}

.header_area .main_menu .navbar .navbar-nav {
    font: normal 400 12px/2px var(--roboto);
    letter-spacing: .155em;
}