

html.body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* Css Variables */

:root {
    --primary2-color: #051e22;
    --secondary-color: #f0fe11;
    --link-color: #ca0b58;
    --button-color: #219fb5;

/* Font family variables */
    --roboto:'Roboto', sans;
    --marri: 'Merriweather', sans-serif;
}